streamlit
langchain==0.1.16
langchain-community==0.0.34
langchain-google-genai==0.0.9
langchain-text-splitters==0.0.1
google-generativeai
faiss-cpu
pypdf
python-dotenv
supabase
sentence-transformers==2.2.2
email-validator
sendgrid
